In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
import psycopg2
import pandas as pd

# Database connection parameters
conn = psycopg2.connect(
    host="localhost",
    database="aravind",
    user="aravind",
    password="123",
    port="5432"
)

# Load data directly into a pandas DataFrame
df = pd.read_sql("SELECT * FROM salary_data", conn)


# Close the connection
conn.close()

C:\Users\Minfy.DESKTOP-3E50D5N\AppData\Local\Temp\ipykernel_1480\2227181382.py:14: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

In [30]:
df.head()

,job_title,experience_level,employment_type,company_size,company_location,remote_ratio,salary_currency,years_experience,base_salary,bonus,stock_options,total_salary,salary_in_usd,currency,education,skills,conversion_rate,adjusted_total_usd
0,Data Analyst,Mid,Contract,Medium,Germany,0,INR,13,68407.451747,1100,19325,88832.451747,1065.989421,USD,None,None,1.000,88832.451747
1,DevOps Engineer,Mid,Contract,Small,India,100,GBP,9,64193.117775,2194,19164,85551.117775,111216.453107,EUR,None,None,1.100,94106.229552
2,Research Scientist,Lead,None,Medium,Germany,0,EUR,19,136071.842899,3206,12735,152012.842899,167214.127189,EUR,None,None,1.100,167214.127189
3,Software Engr,Lead,Full-time,Large,India,50,INR,7,141850.905335,9594,11158,162602.905335,19512.348640,USD,None,None,1.000,162602.905335
4,Software Engr,Lead,Intern,Large,Germany,100,INR,10,121841.163226,6796,806,129443.163226,1553.317959,INR,None,None,0.012,1553.317959

In [31]:
df.isna().sum()

job_title                  0
experience_level       20000
employment_type        23984
company_size               0
company_location           0
remote_ratio               0
salary_currency            0
years_experience           0
base_salary                0
bonus                      0
stock_options              0
total_salary               0
salary_in_usd              0
currency                   0
education             100000
skills                100000
conversion_rate            0
adjusted_total_usd         0
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   job_title           100000 non-null  object
 1   experience_level    80000 non-null   object
 2   employment_type     76016 non-null   object
 3   company_size        100000 non-null  object
 4   company_location    100000 non-null  object
 5   remote_ratio        100000 non-null  int64
 6   salary_currency     100000 non-null  object
 7   years_experience    100000 non-null  int64
 8   base_salary         100000 non-null  float64
 9   bonus               100000 non-null  int64
 10  stock_options       100000 non-null  int64
 11  total_salary        100000 non-null  float64
 12  salary_in_usd       100000 non-null  float64
 13  currency            100000 non-null  object
 14  education           0 non-null       object
 15  skills              0 non-null       object
 16  conversion_rate     100000 non-null  float64
 17  adjusted_total_usd  100000 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 13.7+ MB

# EDA

In [33]:
# --- Import Required Libraries ---
import pandas as pd
import numpy as np

# --- 1. Basic Data Overview ---
def basic_info(df):
    print('--- Basic Info ---')
    print(df.info())
    print('\n--- Head ---')
    print(df.head())
    print('\n--- Describe (Numerical) ---')
    print(df.describe())
    print('\n--- Describe (Categorical) ---')
    print(df.describe(include='object'))

# --- 2. Missing Values Analysis ---
def missing_values(df):
    print('\n--- Missing Values ---')
    print(df.isnull().sum().sort_values(ascending=False))
    print('\n--- % Missing ---')
    print((df.isnull().mean()*100).sort_values(ascending=False))

# --- 3. Unique Values per Column ---
def unique_values(df):
    print('\n--- Unique Values per Column ---')
    for col in df.columns:
        print(f'{col}: {df[col].nunique()}')

# --- 4. Value Counts for Categorical Columns ---
def value_counts_categorical(df, top_n=5):
    print('\n--- Top Value Counts (Categorical Columns) ---')
    cat_cols = df.select_dtypes(include='object').columns
    for col in cat_cols:
        print(f'\n{col}:')
        print(df[col].value_counts(dropna=False).head(top_n))

# --- 5. Outlier Detection (IQR Method) ---
def outlier_summary(df, num_cols=None):
    print('\n--- Outlier Summary (IQR method) ---')
    if num_cols is None:
        num_cols = df.select_dtypes(include=[np.number]).columns
    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = ((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))).sum()
        print(f'{col}: {outliers} outliers')

# --- 6. Correlation Matrix ---
def correlation_matrix(df, num_cols=None):
    print('\n--- Correlation Matrix ---')
    if num_cols is None:
        num_cols = df.select_dtypes(include=[np.number]).columns
    print(df[num_cols].corr())

# --- 7. Salary Distribution by Group ---
def salary_distribution_by_group(df, group_col, salary_col='adjusted_total_usd'):
    print(f'\n--- Salary Distribution by {group_col} ---')
    print(df.groupby(group_col)[salary_col].describe())

# --- 8. Run EDA Pipeline ---
def run_eda(df):
    basic_info(df)
    missing_values(df)
    unique_values(df)
    value_counts_categorical(df)
    outlier_summary(df)
    correlation_matrix(df)
    salary_distribution_by_group(df, 'job_title')
    salary_distribution_by_group(df, 'company_location')
    salary_distribution_by_group(df, 'experience_level')


run_eda(df)

--- Basic Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   job_title           100000 non-null  object
 1   experience_level    80000 non-null   object
 2   employment_type     76016 non-null   object
 3   company_size        100000 non-null  object
 4   company_location    100000 non-null  object
 5   remote_ratio        100000 non-null  int64
 6   salary_currency     100000 non-null  object
 7   years_experience    100000 non-null  int64
 8   base_salary         100000 non-null  float64
 9   bonus               100000 non-null  int64
 10  stock_options       100000 non-null  int64
 11  total_salary        100000 non-null  float64
 12  salary_in_usd       100000 non-null  float64
 13  currency            100000 non-null  object
 14  education           0 non-null       object
 15  skills              0 non-null       object
 16  conversion_rate     100000 non-null  float64
 17  adjusted_total_usd  100000 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 13.7+ MB
None

--- Head ---
            job_title experience_level employment_type company_size  \
0        Data Analyst              Mid        Contract       Medium
1     DevOps Engineer              Mid        Contract        Small
2  Research Scientist             Lead            None       Medium
3       Software Engr             Lead       Full-time        Large
4       Software Engr             Lead          Intern        Large

  company_location  remote_ratio salary_currency  years_experience  \
0          Germany             0             INR                13
1            India           100             GBP                 9
2          Germany             0             EUR                19
3            India            50             INR                 7
4          Germany           100             INR                10

     base_salary  bonus  stock_options   total_salary  salary_in_usd currency  \
0   68407.451747   1100          19325   88832.451747    1065.989421      USD
1   64193.117775   2194          19164   85551.117775  111216.453107      EUR
2  136071.842899   3206          12735  152012.842899  167214.127189      EUR
3  141850.905335   9594          11158  162602.905335   19512.348640      USD
4  121841.163226   6796            806  129443.163226    1553.317959      INR

  education skills  conversion_rate  adjusted_total_usd
0      None   None            1.000        88832.451747
1      None   None            1.100        94106.229552
2      None   None            1.100       167214.127189
3      None   None            1.000       162602.905335
4      None   None            0.012         1553.317959

--- Describe (Numerical) ---
        remote_ratio  years_experience   base_salary          bonus  \
count  100000.000000     100000.000000  1.000000e+05  100000.000000
mean       49.900000         10.010730  2.739155e+05    5000.533550
std        40.727222          6.058082  6.098245e+05    2891.501293
min         0.000000          0.000000 -3.443372e+02       0.000000
25%         0.000000          5.000000  5.913957e+04    2508.000000
50%        50.000000         10.000000  9.292292e+04    5004.000000
75%       100.000000         15.000000  1.260539e+05    7504.250000
max       100.000000         20.000000  3.121412e+06    9999.000000

       stock_options   total_salary  salary_in_usd  conversion_rate  \
count  100000.000000  100000.000000   1.000000e+05    100000.000000
mean    15014.530770  105189.402427   1.033400e+05         0.833410
std      8664.142702   36335.187042   1.461287e+05         0.446652
min         0.000000   13732.470754   2.210069e+02         0.012000
25%      7463.750000   74890.960608   4.833807e+04         0.750000
50%     14995.000000  105372.474677   9.129188e+04         1.000000
75%     22530.000000  135233.162454   1.333567e+05         1.100000
max     29998.000000  196335.838926   2.354698e+06         1.300000

       adjusted_total_usd
count        1.000000e+05
mean         2.451668e+05
std          5.918202e+05
min          1.647896e+02
25%          4.949571e+04
50%          9.518815e+04
75%          1.430316e+05
max          4.108340e+06

--- Describe (Categorical) ---
           job_title experience_level employment_type company_size  \
count         100000            80000           76016       100000
unique            12                4               4            3
top     Data Analyst              Mid       Part-time        Small
freq           16857            20079           19146        33538

       company_location salary_currency currency education skills
count            100000          100000   100000         0      0
unique                6               5        5         0      0
top                  UK             GBP      GBP       NaN    NaN
freq              17087           20197    20202       NaN    NaN

--- Missing Values ---
skills                100000
education             100000
employment_type        23984
experience_level       20000
job_title                  0
company_size               0
salary_currency            0
years_experience           0
company_location           0
remote_ratio               0
bonus                      0
base_salary                0
stock_options              0
total_salary               0
currency                   0
salary_in_usd              0
conversion_rate            0
adjusted_total_usd         0
dtype: int64

--- % Missing ---
skills                100.000
education             100.000
employment_type        23.984
experience_level       20.000
job_title               0.000
company_size            0.000
salary_currency         0.000
years_experience        0.000
company_location        0.000
remote_ratio            0.000
bonus                   0.000
base_salary             0.000
stock_options           0.000
total_salary            0.000
currency                0.000
salary_in_usd           0.000
conversion_rate         0.000
adjusted_total_usd      0.000
dtype: float64

--- Unique Values per Column ---
job_title: 12
experience_level: 4
employment_type: 4
company_size: 3
company_location: 6
remote_ratio: 3
salary_currency: 5
years_experience: 21
base_salary: 29893
bonus: 9494
stock_options: 19093
total_salary: 29976
salary_in_usd: 29976
currency: 5
education: 0
skills: 0
conversion_rate: 5
adjusted_total_usd: 81717

--- Top Value Counts (Categorical Columns) ---

job_title:
job_title
Data Analyst          16857
DevOps Engineer       16764
Research Scientist    16552
Sofware Engneer        5755
Software Engr          5622
Name: count, dtype: int64

experience_level:
experience_level
Mid       20079
Senior    20063
None      20000
Lead      19944
Junior    19914
Name: count, dtype: int64

employment_type:
employment_type
None         23984
Part-time    19146
Full-time    19129
Contract     18901
Intern       18840
Name: count, dtype: int64

company_size:
company_size
Small     33538
Medium    33469
Large     32993
Name: count, dtype: int64

company_location:
company_location
UK        17087
Remote    16704
USA       16630
Canada    16558
India     16511
Name: count, dtype: int64

salary_currency:
salary_currency
GBP    20197
USD    20100
EUR    20006
INR    19864
CAD    19833
Name: count, dtype: int64

currency:
currency
GBP    20202
USD    20084
CAD    20008
INR    19934
EUR    19772
Name: count, dtype: int64

education:
education
None    100000
Name: count, dtype: int64

skills:
skills
None    100000
Name: count, dtype: int64

--- Outlier Summary (IQR method) ---
remote_ratio: 0 outliers
years_experience: 0 outliers
base_salary: 10000 outliers
bonus: 0 outliers
stock_options: 0 outliers
total_salary: 0 outliers
salary_in_usd: 1580 outliers
conversion_rate: 19934 outliers
adjusted_total_usd: 8004 outliers

--- Correlation Matrix ---
                    remote_ratio  years_experience  base_salary     bonus  \
remote_ratio            1.000000         -0.006679     0.002509  0.010769
years_experience       -0.006679          1.000000    -0.003629 -0.002847
base_salary             0.002509         -0.003629     1.000000  0.001188
bonus                   0.010769         -0.002847     0.001188  1.000000
stock_options          -0.000849          0.001939     0.001461 -0.008788
total_salary            0.005217          0.003228     0.053398  0.085567
salary_in_usd           0.006140         -0.004033     0.014437  0.021700
conversion_rate         0.000841          0.000852     0.000800 -0.002226
adjusted_total_usd      0.001564         -0.005057     0.860263  0.004132

                    stock_options  total_salary  salary_in_usd  \
remote_ratio            -0.000849      0.005217       0.006140
years_experience         0.001939      0.003228      -0.004033
base_salary              0.001461      0.053398       0.014437
bonus                   -0.008788      0.085567       0.021700
stock_options            1.000000      0.244084       0.061739
total_salary             0.244084      1.000000       0.249781
salary_in_usd            0.061739      0.249781       1.000000
conversion_rate         -0.003306      0.003209       0.003911
adjusted_total_usd       0.013150      0.046865       0.012587

                    conversion_rate  adjusted_total_usd
remote_ratio               0.000841            0.001564
years_experience           0.000852           -0.005057
base_salary                0.000800            0.860263
bonus                     -0.002226            0.004132
stock_options             -0.003306            0.013150
total_salary               0.003209            0.046865
salary_in_usd              0.003911            0.012587
conversion_rate            1.000000            0.221935
adjusted_total_usd         0.221935            1.000000

--- Salary Distribution by job_title ---
                         count           mean            std         min  \
job_title
Data Analyst           16857.0  242263.881933  587903.697905  229.944847
Data Scienist           5564.0  246685.773770  586263.589272  261.164878
Data Scntist            5499.0  249298.752530  607381.325632  265.592457
DevOps Engineer        16764.0  249681.450766  598538.981958  195.754076
Dt Scientist            5574.0  260493.733805  622971.273114  261.164878
ML Enginer              5445.0  249755.925139  602222.081860  383.130615
ML Engr                 5512.0  240330.665066  584384.093680  337.148603
Machine Learning Engr   5282.0  239005.322967  586522.487775  259.394489
Research Scientist     16552.0  246696.655731  595214.458354  215.161878
Software Engr           5622.0  230707.783817  557216.413201  164.789649
Softwre Engineer        5574.0  240207.611292  583368.349624  248.658584
Sofware Engneer         5755.0  240730.977449  575820.494670  225.917104

                                25%           50%            75%           max
job_title
Data Analyst           48150.702495  94834.612595  142616.454390  4.105499e+06
Data Scienist          50021.655418  96913.450615  145148.651209  4.091453e+06
Data Scntist           45891.025904  94663.559480  144522.984842  4.101070e+06
DevOps Engineer        50155.802354  95404.191733  143203.576881  4.106342e+06
Dt Scientist           48047.254180  95225.993474  144070.502537  4.100334e+06
ML Enginer             50140.901459  93465.128523  144512.309912  4.105385e+06
ML Engr                49266.961970  95483.395482  141250.832038  4.101524e+06
Machine Learning Engr  49961.392241  94975.725579  141980.803001  4.104663e+06
Research Scientist     49973.309726  95664.680405  143366.669645  4.104229e+06
Software Engr          50166.157149  94413.429169  141444.671426  4.108340e+06
Softwre Engineer       50927.439986  96421.455236  142039.583226  4.099839e+06
Sofware Engneer        50201.911908  94443.744829  141851.375756  4.104767e+06

--- Salary Distribution by company_location ---
                    count           mean            std         min  \
company_location
Canada            16558.0  240807.299949  583855.479062  195.754076
Germany           16510.0  242284.736685  585796.452912  164.789649
India             16511.0  245421.262303  601121.238065  261.599261
Remote            16704.0  247260.273896  596560.505412  306.137315
UK                17087.0  243241.378045  580676.838167  239.895953
USA               16630.0  251991.812272  602818.864375  226.855988

                           25%           50%            75%           max
company_location
Canada            48256.202016  95005.093455  141904.522301  4.104767e+06
Germany           49178.434717  94993.562307  142477.984862  4.104663e+06
India             48189.535510  93921.595654  142042.290250  4.108340e+06
Remote            50702.960107  95016.820160  143764.551685  4.101524e+06
UK                49005.849175  95658.397296  144220.332473  4.104229e+06
USA               51592.390706  96520.669254  143724.327345  4.105499e+06

--- Salary Distribution by experience_level ---
                    count           mean           std          min  \
experience_level
Junior            19914.0   49712.779296  29639.139862   164.789649
Lead              19944.0  125702.033176  68234.983875  1283.009572
Mid               20079.0   75160.837351  42519.444403   532.889140
Senior            20063.0  100172.558220  55127.226533   823.370696

                            25%            50%            75%            max
experience_level
Junior             35598.994959   54505.929060   70502.670878  139951.381649
Lead              105842.798518  146714.114753  173391.861155  251382.620780
Mid                59808.335624   84919.285477  105029.472347  169186.913660
Senior             83247.179307  115522.489722  138809.838911  208445.176914

In [34]:
# Modular EDA & Preprocessing Code

In [35]:

# Drop Useless Columns
def drop_useless_columns(df):
    # Drop columns with 100% missing values
    return df.drop(['education', 'skills'], axis=1,inplace = True)
drop_useless_columns(df)

In [36]:
# Standardize Categorical Values

def clean_job_titles(df):
    # Example: Standardize job titles using mapping
    title_map = {
        'Sofware Engneer': 'Software Engineer',
        'Softwre Engineer': 'Software Engineer',
        'Software Engr': 'Software Engineer',
        'ML Engr': 'ML Engineer',
        'ML Enginer': 'ML Engineer',
        'Dt Scientist': 'Data Scientist',
        'Data Scntist': 'Data Scientist',
        'Data Scienist': 'Data Scientist'
    }
    df['job_title'] = df['job_title'].replace(title_map)
    return df
clean_job_titles(df)

,job_title,experience_level,employment_type,company_size,company_location,remote_ratio,salary_currency,years_experience,base_salary,bonus,stock_options,total_salary,salary_in_usd,currency,conversion_rate,adjusted_total_usd
0,Data Analyst,Mid,Contract,Medium,Germany,0,INR,13,68407.451747,1100,19325,88832.451747,1065.989421,USD,1.000,88832.451747
1,DevOps Engineer,Mid,Contract,Small,India,100,GBP,9,64193.117775,2194,19164,85551.117775,111216.453107,EUR,1.100,94106.229552
2,Research Scientist,Lead,None,Medium,Germany,0,EUR,19,136071.842899,3206,12735,152012.842899,167214.127189,EUR,1.100,167214.127189
3,Software Engineer,Lead,Full-time,Large,India,50,INR,7,141850.905335,9594,11158,162602.905335,19512.348640,USD,1.000,162602.905335
4,Software Engineer,Lead,Intern,Large,Germany,100,INR,10,121841.163226,6796,806,129443.163226,1553.317959,INR,0.012,1553.317959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,DevOps Engineer,Mid,Full-time,Large,India,50,EUR,14,75331.984608,3260,29331,107922.984608,118715.283069,USD,1.000,107922.984608
99996,ML Engineer,Senior,Contract,Medium,Canada,50,USD,4,106416.051623,5777,477,112670.051623,112670.051623,EUR,1.100,123937.056785
99997,Machine Learning Engr,Senior,Part-time,Medium,UK,50,GBP,2,103315.889785,9638,24124,137077.889785,178201.256720,USD,1.000,137077.889785
99998,Research Scientist,Junior,Intern,Medium,Remote,100,CAD,14,37493.261693,8990,27729,74212.261693,55659.196269,CAD,0.750,55659.196269
99999,Research Scientist,None,None,Large,Germany,0,CAD,7,58546.997791,6792,11105,76443.997791,57332.998343,CAD,0.750,57332.998343

In [37]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

def knn_impute_categoricals(df, cat_cols, n_neighbors=5):
    """
    KNN-based imputation for specified categorical columns.

    Args:
        df (pd.DataFrame): Input DataFrame with mixed types.
        cat_cols (list): List of categorical columns to impute.
        n_neighbors (int): Number of neighbors for KNN.

    Returns:
        pd.DataFrame: DataFrame with imputed categorical values.
    """
    df_copy = df.copy()

    # Step 1: Keep only necessary numeric columns and columns to impute
    required_cols = list(set(cat_cols + [col for col in df.columns if df[col].dtype != 'object' or col in cat_cols]))
    df_numeric = df_copy[required_cols].copy()

    # Step 2: Label encode only the categorical columns to be imputed
    encoders = {}
    for col in cat_cols:
        le = LabelEncoder()
        df_numeric[col] = df_numeric[col].astype(str)
        df_numeric[col] = le.fit_transform(df_numeric[col])
        encoders[col] = le

    # Step 3: Apply KNN Imputation
    imputer = KNNImputer(n_neighbors=n_neighbors)
    imputed_array = imputer.fit_transform(df_numeric)
    df_imputed_numeric = pd.DataFrame(imputed_array, columns=df_numeric.columns)

    # Step 4: Decode back categorical columns
    for col in cat_cols:
        df_imputed_numeric[col] = df_imputed_numeric[col].round().astype(int)
        df_imputed_numeric[col] = encoders[col].inverse_transform(df_imputed_numeric[col])

    # Step 5: Merge imputed columns back into original DataFrame
    for col in cat_cols:
        df_copy[col] = df_imputed_numeric[col]

    return df_copy
# Define columns to impute
cat_cols = ['experience_level', 'employment_type']

# Apply the imputer
df = knn_impute_categoricals(df, cat_cols)

In [38]:
import pandas as pd
import numpy as np

def cap_outliers_iqr(df, column):
    """
    Caps outliers in a numeric column using the IQR method.
    """
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[column] = np.where(df[column] < lower, lower, df[column])
    df[column] = np.where(df[column] > upper, upper, df[column])
    return df

# Cap outliers for key salary-related numeric columns
cols_to_cap = ['base_salary', 'adjusted_total_usd', 'salary_in_usd']
for col in cols_to_cap:
    df = cap_outliers_iqr(df, col)

# Apply log1p to base_salary for modeling to reduce skewness
df['log_base_salary'] = np.log1p(df['base_salary'])

c:\Users\Minfy.DESKTOP-3E50D5N\Documents\HR_MLops_project\mlops\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning:

invalid value encountered in log1p

In [39]:
def check_outliers_iqr(df, column):
    """
    Checks the number of outliers in a column using the IQR method.
    """
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower) | (df[column] > upper)]
    print(len(outliers), "outliers detected")
    return outliers

check_outliers_iqr(df, 'base_salary')
check_outliers_iqr(df, 'adjusted_total_usd')
check_outliers_iqr(df, 'salary_in_usd')

0 outliers detected
0 outliers detected
0 outliers detected

Empty DataFrame
Columns: [job_title, experience_level, employment_type, company_size, company_location, remote_ratio, salary_currency, years_experience, base_salary, bonus, stock_options, total_salary, salary_in_usd, currency, conversion_rate, adjusted_total_usd, log_base_salary]
Index: []

In [40]:
from sklearn.model_selection import train_test_split
import pandas as pd
from evidently import Report
from evidently.presets import DataDriftPreset
import json
import re
import mlflow

# =========================
# 1. Train/Test Split
# =========================
X_train, X_test = train_test_split(df, test_size=0.2, random_state=42)

# =========================
# 2. Generate Evidently Report
# =========================
report = Report([DataDriftPreset()])
report = report.run(reference_data=X_train, current_data=X_test)

# Save paths
report_path_html = "evidently_report.html"
report_path_json = "evidently_report.json"

# Save HTML report
report.save_html(report_path_html)

# Save JSON report
report_json_str = report.json()             # JSON string
report_dict = json.loads(report_json_str)   # Convert to dict
with open(report_path_json, "w") as f:
    json.dump(report_dict, f, indent=2)

# =========================
# 3. Clean metric names
# =========================
def clean_metric_name(name):
    if "ValueDrift(column=" in name:
        match = re.search(r"ValueDrift\(column=(.*?)\)", name)
        if match:
            return f"drift_{match.group(1)}"
    elif "DriftedColumnsCount" in name:
        return "drifted_column_count"
    cleaned = re.sub(r"[^a-zA-Z0-9_\-./]", "_", name)
    return cleaned[:50]  # limit to 50 chars for MLflow

# =========================
# 4. Log Metrics and Artifacts to MLflow
# =========================
mlflow.set_tracking_uri("http://localhost:5000")
mlflow.set_experiment("Evidently Drift Metrics")

with mlflow.start_run(run_name="DataDriftReport") as run:
    for metric in report_dict["metrics"]:
        raw_name = metric.get("metric_id", "")
        value = metric.get("value", None)

        if isinstance(value, dict):
            for k, v in value.items():
                metric_name = f"{raw_name}_{k}"
                cleaned_name = clean_metric_name(metric_name)
                if isinstance(v, (int, float)):
                    mlflow.log_metric(cleaned_name, v)
        else:
            cleaned_name = clean_metric_name(raw_name)
            if isinstance(value, (int, float)):
                mlflow.log_metric(cleaned_name, value)

    # Log report files
    mlflow.log_artifact(report_path_html)
    mlflow.log_artifact(report_path_json)

    print("âœ… Drift report and metrics logged to MLflow.")
    print(f"ðŸ§ª View run at: {mlflow.get_tracking_uri()}/#/experiments/{run.info.experiment_id}/runs/{run.info.run_id}")

âœ… Drift report and metrics logged to MLflow.
ðŸ§ª View run at: http://localhost:5000/#/experiments/3/runs/658a7b121e0c4decaad197ba3ac8c207
ðŸƒ View run DataDriftReport at: http://localhost:5000/#/experiments/3/runs/658a7b121e0c4decaad197ba3ac8c207
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/3

In [41]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
# Your existing categorical preprocessing functions (same as before)...
def ordinal_encode_column(df, column, mapping, fill_value=None):
    if fill_value is not None:
        df[column] = df[column].fillna(fill_value)
    df[column] = df[column].map(mapping)
    return df

def one_hot_encode_columns(df, columns):
    df = df.copy()
    for col in columns:
        df[col] = df[col].fillna('Unknown')
    ohe = OneHotEncoder(sparse_output=False, drop='if_binary')
    encoded = ohe.fit_transform(df[columns])
    ohe_cols = ohe.get_feature_names_out(columns)
    df_ohe = pd.DataFrame(encoded, columns=ohe_cols, index=df.index)
    df = pd.concat([df.drop(columns, axis=1), df_ohe], axis=1)
    return df

def target_encode_column(df, column, target_col):
    means = df.groupby(column)[target_col].mean()
    df[column + '_target_enc'] = df[column].map(means)
    df = df.drop(column, axis=1)
    return df

def frequency_encode_column(df, column):
    freq = df[column].value_counts(normalize=True)
    df[column + '_freq_enc'] = df[column].map(freq)
    df = df.drop(column, axis=1)
    return df

def preprocess_categorical(df, target_col='total_salary'):
    df = df.copy()
    experience_mapping = {'Entry': 0, 'Mid': 1, 'Senior': 2, 'Lead': 3}
    df = ordinal_encode_column(df, 'experience_level', experience_mapping, fill_value='Mid')

    company_size_mapping = {'Small': 0, 'Medium': 1, 'Large': 2}
    df = ordinal_encode_column(df, 'company_size', company_size_mapping, fill_value='Medium')

    one_hot_cols = ['employment_type', 'salary_currency', 'currency']
    df = one_hot_encode_columns(df, one_hot_cols)

    df = target_encode_column(df, 'job_title', target_col)
    df = frequency_encode_column(df, 'company_location')
    return df


def build_preprocessing(df, target_col='total_salary'):
    # Step 1: Run your categorical preprocessing
    df_processed = preprocess_categorical(df, target_col)

    # Step 2: Identify numeric columns (exclude target)
    numeric_cols = df_processed.select_dtypes(include=['int64', 'float64']).columns.tolist()
    if target_col in numeric_cols:
        numeric_cols.remove(target_col)

    # Step 3: Build numeric pipeline for scaling
    numeric_pipeline = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ])

    # Step 4: ColumnTransformer applies only numeric pipeline
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numeric_pipeline, numeric_cols)
        ],
        remainder='passthrough'  # keep non-numeric columns as is
    )

    # Step 5: Apply transformation
    # Note: output will be numpy array if remainder='passthrough', so convert back to DataFrame:
    transformed_array = preprocessor.fit_transform(df_processed)

    # Rebuild column names for transformed output:
    # Numeric cols scaled come first in order as numeric_cols
    # Passthrough columns come next, order preserved
    passthrough_cols = [col for col in df_processed.columns if col not in numeric_cols]
    all_cols = numeric_cols + passthrough_cols

    df_transformed = pd.DataFrame(transformed_array, columns=all_cols, index=df_processed.index)

    return df_transformed


# Example usage:
df = build_preprocessing(df, target_col='total_salary')

In [42]:
df.head()

,experience_level,company_size,remote_ratio,years_experience,base_salary,bonus,stock_options,salary_in_usd,conversion_rate,adjusted_total_usd,...,salary_currency_INR,salary_currency_USD,currency_CAD,currency_EUR,currency_GBP,currency_INR,currency_USD,job_title_target_enc,company_location_freq_enc,total_salary
0,-1.578554,0.006682,-1.225231,0.493437,-0.572658,-1.348972,0.497509,-1.444023,0.372976,-0.171601,...,2.008540,-0.501562,-0.500125,-0.496435,-0.503154,-0.498969,1.994765,0.190364,-0.788964,88832.451747
1,-1.578554,-1.219339,1.230142,-0.166841,-0.650859,-0.970620,0.478927,0.333990,0.596865,-0.103477,...,-0.497874,-0.501562,-0.500125,2.014363,-0.503154,-0.498969,-0.501312,-1.725157,-0.784004,85551.117775
2,1.582822,0.006682,-1.225231,1.483855,0.682930,-0.620627,-0.263101,1.237886,0.596865,0.840888,...,-0.497874,-0.501562,-0.500125,2.014363,-0.503154,-0.498969,-0.501312,0.545585,-0.788964,152012.842899
3,1.582822,1.232702,0.002455,-0.496980,0.790167,1.588617,-0.445116,-1.146268,0.372976,0.781323,...,2.008540,-0.501562,-0.500125,-0.496435,-0.503154,-0.498969,1.994765,-0.806391,-0.784004,162602.905335
4,1.582822,1.232702,1.230142,-0.001771,0.418864,0.620949,-1.639932,-1.436157,-1.839046,-1.299022,...,2.008540,-0.501562,-0.500125,-0.496435,-0.503154,2.004134,-0.501312,-0.806391,-0.788964,129443.163226

In [43]:
mlflow.set_tracking_uri("http://localhost:5000")  # Replace with your actual server URI

In [46]:
X_test

,job_title,experience_level,employment_type,company_size,company_location,remote_ratio,salary_currency,years_experience,base_salary,bonus,stock_options,total_salary,salary_in_usd,currency,conversion_rate,adjusted_total_usd,log_base_salary
75721,ML Engineer,None,None,Large,Remote,0,EUR,14,226425.432452,9337,18551,92607.470968,101868.218064,INR,0.012,20048.839963,12.330175
80184,DevOps Engineer,None,None,Medium,Remote,0,EUR,10,226425.432452,5258,9252,54929.913741,60422.905115,USD,1.000,283335.533639,12.330175
19864,Data Analyst,Lead,Full-time,Large,Germany,0,INR,12,122281.451310,664,26755,149700.451310,1796.405416,INR,0.012,1796.405416,11.714089
76699,ML Engineer,None,None,Large,UK,100,CAD,3,226425.432452,1186,27884,155586.788784,116690.091588,GBP,1.300,283335.533639,12.330175
92991,Software Engineer,None,None,Small,Remote,50,GBP,4,226425.432452,920,8461,81151.786212,105497.322075,GBP,1.300,283335.533639,12.330175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32595,Research Scientist,Senior,Full-time,Medium,India,0,GBP,0,98516.258131,4003,3817,106336.258131,260884.763118,GBP,1.300,138237.135571,11.497987
29313,Research Scientist,None,None,Small,Remote,100,GBP,7,91602.328259,5027,21810,118439.328259,153971.126736,USD,1.000,118439.328259,11.425223
37862,Data Scientist,Senior,Full-time,Small,Canada,0,USD,15,104342.199466,1445,5018,110805.199466,110805.199466,CAD,0.750,83103.899600,11.555441
53421,Data Analyst,Mid,Contract,Medium,Canada,100,EUR,5,66534.556688,2498,1204,70236.556688,77260.212357,EUR,1.100,77260.212357,11.105492
42410,Software Engineer,Junior,Full-time,Large,USA,50,EUR,13,36989.310529,4261,7931,49181.310529,54099.441581,CAD,0.750,36885.982896,10.518411

In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
import mlflow
import mlflow.sklearn


# ===============================
# Step 1: Train/test split
# ===============================
def train_test_split_data(df, target_col='total_salary', test_size=0.2, random_state=42):
    X = df.drop(columns=[target_col])
    y = df[target_col]
    return train_test_split(X, y, test_size=test_size, random_state=random_state)


# ===============================
# Step 2: Define models and params
# ===============================
def get_models_and_params():
    models = {
        'LinearRegression': (LinearRegression(), {}),
        'RandomForest': (RandomForestRegressor(random_state=42), {
            'n_estimators': [50, 100],
            'max_depth': [None, 10, 20],
            'min_samples_split': [2, 5]
        }),
        'GradientBoosting': (GradientBoostingRegressor(random_state=42), {
            'n_estimators': [50, 100],
            'learning_rate': [0.1, 0.05],
            'max_depth': [3, 5]
        }),
        'XGBoost': (xgb.XGBRegressor(objective='reg:squarederror', random_state=42), {
            'n_estimators': [50, 100],
            'learning_rate': [0.1, 0.05],
            'max_depth': [3, 5]
        })
    }
    return models


# ===============================
# Step 3: Train models and log to MLflow
# ===============================
def run_pipeline_with_mlflow(X_train, X_test, y_train, y_test):
    if mlflow.active_run() is not None:
        mlflow.end_run()

    best_score = float("inf")
    best_model_uri = None
    best_run_id = None

    models = get_models_and_params()

    for name, (model, param_grid) in models.items():
        print(f"\nðŸ” Training model: {name}")
        with mlflow.start_run(run_name=name) as run:
            if param_grid:
                grid = GridSearchCV(model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
                grid.fit(X_train, y_train)
                best_model = grid.best_estimator_
                best_params = grid.best_params_
            else:
                model.fit(X_train, y_train)
                best_model = model
                best_params = {}

            preds = best_model.predict(X_test)
            rmse = np.sqrt(mean_squared_error(y_test, preds))
            r2 = r2_score(y_test, preds)

            mlflow.log_param("model", name)
            for param, value in best_params.items():
                mlflow.log_param(param, value)
            mlflow.log_metric("rmse", rmse)
            mlflow.log_metric("r2_score", r2)

            # âœ… Removed problematic line that caused 404
            # mlflow.sklearn.log_model(best_model, "model")

            print(f"âœ… {name} -> RMSE: {rmse:.2f}, RÂ²: {r2:.4f}")

            if rmse < best_score:
                best_score = rmse
                best_model_uri = None  # Since model is not logged
                best_run_id = run.info.run_id

    print("\nðŸŽ¯ Best Model Summary:")
    print(f"Best Run ID: {best_run_id}")
    print(f"Best RMSE: {best_score:.2f}")

    return best_model_uri, best_run_id



# ===============================
# Step 4: Execute Full Pipeline
# ===============================
if __name__ == "__main__":
    mlflow.set_tracking_uri("http://localhost:5000")  # Use your MLflow server URI
    mlflow.set_experiment("Global_Salary_Prediction")

    # Ensure 'df' is loaded
    try:
        df
    except NameError:
        raise Exception("âŒ Please load your DataFrame 'df' before running this script.")

    # Train/test split
    X_train, X_test, y_train, y_test = train_test_split_data(df, target_col='total_salary')

    # Train and log best model
    best_model_uri, best_run_id = run_pipeline_with_mlflow(X_train, X_test, y_train, y_test)

    # Manually use the URI if needed
    print(f"\nâœ… Best model saved to: {best_model_uri}")

ðŸ” Training model: LinearRegression
âœ… LinearRegression -> RMSE: 19602.62, RÂ²: 0.7117
ðŸƒ View run LinearRegression at: http://localhost:5000/#/experiments/1/runs/030420ed2aa94e269fb7ed3bc2a1ed12
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: RandomForest
âœ… RandomForest -> RMSE: 2470.91, RÂ²: 0.9954
ðŸƒ View run RandomForest at: http://localhost:5000/#/experiments/1/runs/0ef036e005d246a7a5ff295f544f0c9f
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: GradientBoosting
âœ… GradientBoosting -> RMSE: 3698.96, RÂ²: 0.9897
ðŸƒ View run GradientBoosting at: http://localhost:5000/#/experiments/1/runs/5149d6464b534d118a921f1406c74874
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: XGBoost
âœ… XGBoost -> RMSE: 4318.56, RÂ²: 0.9860
ðŸƒ View run XGBoost at: http://localhost:5000/#/experiments/1/runs/0a4f88bdcad042859bf3fe325706dcdc
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸŽ¯ Best Model Summary:
Best Run ID: 0ef036e005d246a7a5ff295f544f0c9f
Best RMSE: 2470.91

âœ… Best model saved to: None

In [56]:
import os
import tempfile
import joblib
import mlflow
import mlflow.sklearn
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
from mlflow.tracking import MlflowClient
from mlflow.exceptions import MlflowException

# ===============================
# Step 1: Train/test split
# ===============================
def train_test_split_data(df, target_col='total_salary', test_size=0.2, random_state=42):
    X = df.drop(columns=[target_col])
    y = df[target_col]
    return train_test_split(X, y, test_size=test_size, random_state=random_state)

# ===============================
# Step 2: Define models and params
# ===============================
def get_models_and_params():
    models = {
        'LinearRegression': (LinearRegression(), {}),
        'RandomForest': (RandomForestRegressor(random_state=42), {
            'n_estimators': [50, 100],
            'max_depth': [None, 10],
            'min_samples_split': [2, 5]
        }),
        'GradientBoosting': (GradientBoostingRegressor(random_state=42), {
            'n_estimators': [50, 100],
            'learning_rate': [0.1, 0.05],
            'max_depth': [3, 5]
        }),
        'XGBoost': (xgb.XGBRegressor(objective='reg:squarederror', random_state=42), {
            'n_estimators': [50, 100],
            'learning_rate': [0.1, 0.05],
            'max_depth': [3, 5]
        })
    }
    return models

# ===============================
# Step 3: Train, log, and register best model
# ===============================
def run_pipeline_with_mlflow_and_register(df, model_registry_name="Global_Salary_Prediction_Model"):
    X_train, X_test, y_train, y_test = train_test_split_data(df)

    best_rmse = float("inf")
    best_model = None
    best_model_name = ""
    best_params = {}
    best_run_id = None

    models = get_models_and_params()

    mlflow.set_tracking_uri("http://localhost:5000")
    mlflow.set_experiment("Global_Salary_Prediction")

    for name, (model, param_grid) in models.items():
        print(f"\nðŸ” Training model: {name}")
        with mlflow.start_run(run_name=name) as run:
            if param_grid:
                search = GridSearchCV(model, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1)
                search.fit(X_train, y_train)
                best_estimator = search.best_estimator_
                best_params = search.best_params_
            else:
                model.fit(X_train, y_train)
                best_estimator = model
                best_params = {}

            preds = best_estimator.predict(X_test)
            rmse = np.sqrt(mean_squared_error(y_test, preds))
            r2 = r2_score(y_test, preds)

            mlflow.log_param("model", name)
            for param, value in best_params.items():
                mlflow.log_param(param, value)
            mlflow.log_metric("rmse", rmse)
            mlflow.log_metric("r2_score", r2)

            print(f"âœ… {name} -> RMSE: {rmse:.2f}, RÂ²: {r2:.4f}")

            if rmse < best_rmse:
                best_rmse = rmse
                best_model = best_estimator
                best_model_name = name
                best_run_id = run.info.run_id

    # âœ… Register the best model
    print("\nðŸ“¦ Registering the best model...")
    with mlflow.start_run(run_name=f"{best_model_name}_Register") as reg_run:
        run_id = reg_run.info.run_id
        artifact_path = "model"

        mlflow.sklearn.log_model(best_model, artifact_path, registered_model_name=model_registry_name)

        model_uri = f"runs:/{run_id}/{artifact_path}"
        client = MlflowClient()

        try:
            client.get_registered_model(model_registry_name)
        except MlflowException:
            client.create_registered_model(model_registry_name)

        model_version = client.create_model_version(
            name=model_registry_name,
            source=model_uri,
            run_id=run_id
        ).version

        client.transition_model_version_stage(
            name=model_registry_name,
            version=model_version,
            stage="Production"
        )

        print(f"âœ… Registered and promoted model '{model_registry_name}' version {model_version} to Production")

        # Save local copies
        with open("latest_model_uri.txt", "w") as f:
            f.write(model_uri)
        with open("latest_run_id.txt", "w") as f:
            f.write(run_id)

        return {
            "model_name": model_registry_name,
            "version": model_version,
            "model_uri": model_uri,
            "run_id": run_id
        }

# ===============================
# Step 4: Main
# ===============================
if __name__ == "__main__":
    # Load your data here
    try:
        df
    except NameError:
        raise Exception("âŒ Please ensure your DataFrame 'df' is loaded before running this script.")

    result = run_pipeline_with_mlflow_and_register(df)
    print("\nðŸ Done!")
    print(result)

ðŸ” Training model: LinearRegression
âœ… LinearRegression -> RMSE: 19602.62, RÂ²: 0.7117
ðŸƒ View run LinearRegression at: http://localhost:5000/#/experiments/1/runs/6b8a045b12c04cf494ddca909229908c
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: RandomForest
âœ… RandomForest -> RMSE: 2470.14, RÂ²: 0.9954
ðŸƒ View run RandomForest at: http://localhost:5000/#/experiments/1/runs/75870e0985674ac38c08ba60cf12f696
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: GradientBoosting
âœ… GradientBoosting -> RMSE: 3698.96, RÂ²: 0.9897
ðŸƒ View run GradientBoosting at: http://localhost:5000/#/experiments/1/runs/dcd2a4615aad4aad941b57b6938e9d4d
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ” Training model: XGBoost
âœ… XGBoost -> RMSE: 4318.56, RÂ²: 0.9860
ðŸƒ View run XGBoost at: http://localhost:5000/#/experiments/1/runs/067cdaca78d444509e2b6ec63d46e218
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

ðŸ“¦ Registering the best model...

2025/07/07 11:31:05 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.

ðŸƒ View run RandomForest_Register at: http://localhost:5000/#/experiments/1/runs/bab65b8ffa2b4ef69fb6a7ef5df9f5ad
ðŸ§ª View experiment at: http://localhost:5000/#/experiments/1

MlflowException: API request to endpoint /api/2.0/mlflow/logged-models failed with error code 404 != 200. Response body: '<!doctype html>
<html lang=en>
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
'

In [51]:
from mlflow.tracking import MlflowClient
import mlflow
import joblib

def log_and_register_model(model, model_name, X_test, y_test):
    # Optional: evaluate_model(model, X_test, y_test)

    run = mlflow.active_run()
    run_id = run.info.run_id
    experiment = mlflow.get_experiment(run.info.experiment_id)
    artifact_path = f"{model_name}_model"

    # Log the model
    mlflow.sklearn.log_model(sk_model=model, artifact_path=artifact_path)

    # Register model
    client = MlflowClient()
    model_uri = f"runs:/{run_id}/{artifact_path}"
    registered_model = client.create_model_version(
        name=model_name,
        source=model_uri,
        run_id=run_id
    )

    version = registered_model.version
    unique_model_name = f"{model_name}_v{version}"

    # Save locally
    joblib.dump(model, f"{unique_model_name}.pkl")

    # ðŸ”¥ Immediately promote new version to Production
    client.transition_model_version_stage(
        name=model_name,
        version=version,
        stage="Production",
        archive_existing_versions=True
    )

    return {
        "unique_model_name": unique_model_name,
        "model_name": model_name,
        "version": version,
        "run_id": run_id,
        "experiment_name": experiment.name
    }

In [52]:
best_model_uri = "runs:/<RUN_ID>/model"
model_name = "Global_Salary_Prediction_Model"

In [ ]:
X_test

,experience_level,company_size,remote_ratio,years_experience,base_salary,bonus,stock_options,salary_in_usd,conversion_rate,adjusted_total_usd,...,salary_currency_GBP,salary_currency_INR,salary_currency_USD,currency_CAD,currency_EUR,currency_GBP,currency_INR,currency_USD,job_title_target_enc,company_location_freq_enc
75721,0.002134,1.232702,-1.225231,0.658507,2.359541,1.499736,0.408175,0.183094,-1.839046,-1.060107,...,-0.503076,-0.497874,-0.501562,-0.500125,-0.496435,-0.503154,2.004134,-0.501312,1.203727,0.173268
80184,0.002134,0.006682,-1.225231,-0.001771,2.359541,0.089043,-0.665104,-0.485903,0.372976,2.340877,...,-0.503076,-0.497874,-0.501562,-0.500125,-0.496435,-0.503154,-0.498969,1.994765,-1.725157,0.173268
19864,1.582822,1.232702,-1.225231,0.328368,0.427034,-1.499759,1.355071,-1.432233,-1.839046,-1.295882,...,-0.503076,2.008540,-0.501562,-0.500125,-0.496435,-0.503154,2.004134,-0.501312,0.190364,-0.788964
76699,0.002134,1.232702,1.230142,-1.157258,2.359541,-1.319229,1.485379,0.422344,1.044643,2.340877,...,-0.503076,-0.497874,-0.501562,-0.500125,-0.496435,1.987462,-0.498969,-0.501312,1.203727,2.072931
92991,0.002134,-1.219339,0.002455,-0.992189,2.359541,-1.411223,-0.756401,0.241674,1.044643,2.340877,...,1.987770,-0.497874,-0.501562,-0.500125,-0.496435,1.987462,-0.498969,-0.501312,-0.806391,0.173268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32595,0.002134,0.006682,-1.225231,-1.652467,-0.013955,-0.344990,-1.292406,2.749887,1.044643,0.466580,...,1.987770,-0.497874,-0.501562,-0.500125,-0.496435,1.987462,-0.498969,-0.501312,0.545585,-0.784004
29313,0.002134,-1.219339,1.230142,-0.496980,-0.142251,0.009153,0.784325,1.024122,0.372976,0.210844,...,1.987770,-0.497874,-0.501562,-0.500125,-0.496435,-0.503154,-0.498969,1.994765,0.545585,0.173268
37862,0.002134,-1.219339,-1.225231,0.823577,0.094151,-1.229656,-1.153788,0.327352,-0.186746,-0.245599,...,-0.503076,-0.497874,1.993771,1.999500,-0.496435,-0.503154,-0.498969,-0.501312,0.535250,-0.550886
53421,-1.578554,0.006682,1.230142,-0.827119,-0.607411,-0.865483,-1.593995,-0.214121,0.596865,-0.321084,...,-0.503076,-0.497874,-0.501562,-0.500125,2.014363,-0.503154,-0.498969,-0.501312,0.190364,-0.550886
42410,0.002134,1.232702,0.002455,0.493437,-1.155656,-0.255762,-0.817573,-0.587974,-0.186746,-0.842615,...,-0.503076,-0.497874,-0.501562,1.999500,-0.496435,-0.503154,-0.498969,-0.501312,-0.806391,-0.193769

NameError: name 'model' is not defined

NameError: name 'client' is not defined

In [53]:
model = mlflow.sklearn.load_model(model_uri)
predictions = model.predict(X_test)

RestException: INVALID_PARAMETER_VALUE: Registered model alias production not found.

In [ ]:
predictions

In [27]:
import streamlit as st
import pandas as pd
import numpy as np
import joblib
import os

# --- Data Processing Functions (should match your training pipeline) ---

def clean_job_titles(df):
    title_map = {
        'Sofware Engneer': 'Software Engineer',
        'Softwre Engineer': 'Software Engineer',
        'Software Engr': 'Software Engineer',
        'ML Engr': 'ML Engineer',
        'ML Enginer': 'ML Engineer',
        'Dt Scientist': 'Data Scientist',
        'Data Scntist': 'Data Scientist',
        'Data Scienist': 'Data Scientist'
    }
    if 'job_title' in df.columns:
        df['job_title'] = df['job_title'].replace(title_map)
    return df

def map_categoricals(df):
    # Map experience_level and company_size to ordinal integers
    exp_map = {'Entry': 0, 'Mid': 1, 'Senior': 2, 'Lead': 3}
    size_map = {'Small': 0, 'Medium': 1, 'Large': 2}
    if 'experience_level' in df.columns:
        df['experience_level'] = df['experience_level'].map(exp_map).fillna(1)
    if 'company_size' in df.columns:
        df['company_size'] = df['company_size'].map(size_map).fillna(1)
    return df

def handle_outliers(df, cols):
    # Cap outliers using IQR method
    for col in cols:
        if col in df.columns:
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)
            IQR = Q3 - Q1
            lower = Q1 - 1.5 * IQR
            upper = Q3 + 1.5 * IQR
            df[col] = np.where(df[col] < lower, lower, df[col])
            df[col] = np.where(df[col] > upper, upper, df[col])
    return df

def feature_engineering(df):
    # Log-transform base_salary
    if 'base_salary' in df.columns:
        df['base_salary'] = df['base_salary'].fillna(0)
        df['base_salary'] = df['base_salary'].clip(lower=0)
        df['log_base_salary'] = np.log1p(df['base_salary'])
    return df

def preprocess_user_input(user_input):
    df = pd.DataFrame([user_input])
    df = clean_job_titles(df)
    df = map_categoricals(df)
    df = handle_outliers(df, ['base_salary', 'adjusted_total_usd', 'salary_in_usd'])
    df = feature_engineering(df)
    # Fill missing categorical fields with 'Unknown'
    for col in ['employment_type', 'salary_currency', 'currency']:
        if col in df.columns:
            df[col] = df[col].fillna('Unknown')
    return df

# --- Load preprocessor and model ---
@st.cache_resource
def load_artifacts():
    preprocessor = joblib.load(os.path.join("models", "preprocessor.pkl"))
    model = joblib.load(os.path.join("models", "best_model.pkl"))
    return preprocessor, model

preprocessor, model = load_artifacts()

st.title("Salary Prediction App")

st.write("Enter your details to predict your expected salary:")

user_input = {
    "job_title": st.text_input("Job Title", "Software Engineer"),
    "experience_level": st.selectbox("Experience Level", ["Entry", "Mid", "Senior", "Lead"]),
    "employment_type": st.selectbox("Employment Type", ["FT", "PT", "CT", "FL"]),
    "company_size": st.selectbox("Company Size", ["Small", "Medium", "Large"]),
    "company_location": st.text_input("Company Location", "US"),
    "salary_currency": st.text_input("Salary Currency", "USD"),
    "currency": st.text_input("Currency", "USD"),
    "base_salary": st.number_input("Base Salary", min_value=0, value=80000),
    "adjusted_total_usd": st.number_input("Adjusted Total USD", min_value=0, value=85000),
    "salary_in_usd": st.number_input("Salary in USD", min_value=0, value=85000),
    "total_salary": st.number_input("Total Salary (for internal use)", min_value=0, value=85000)
}

if st.button("Predict Salary"):
    try:
        df_user = preprocess_user_input(user_input)
        X_user = preprocessor.transform(df_user)
        prediction = model.predict(X_user)[0]
        st.success(f"Predicted Salary: ${prediction:,.2f}")
    except Exception as e:
        st.error(f"Prediction failed: {e}")

2025-07-07 10:42:37.519 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:42.324
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Minfy.DESKTOP-3E50D5N\Documents\HR_MLops_project\mlops\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-07-07 10:42:42.326 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:42.327 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:42.329 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:43.196 Thread 'Thread-27': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:43.210 Thread 'Thread-27': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:43.211 Thread 'Thread-27': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.517 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.519 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.585 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.590 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.591 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.593 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.598 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.599 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.600 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.603 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.604 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.605 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.606 Session state does not function when running a script without `streamlit run`
2025-07-07 10:42:48.608 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.609 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.611 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.613 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.613 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.615 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.617 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.619 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.620 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.621 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.622 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.624 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.630 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.634 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.636 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.640 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.642 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.644 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.645 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.646 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.650 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.652 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.654 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.655 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.657 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.658 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.659 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.660 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.662 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.664 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.666 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.668 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.669 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.670 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.671 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.672 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.673 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.674 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.675 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.676 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.677 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.678 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.679 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.680 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.681 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.684 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.686 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.688 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.690 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.773 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.775 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.776 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.779 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.782 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.784 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.786 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.789 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.790 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.792 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.794 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.796 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.797 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.797 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.800 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.801 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.803 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.805 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.806 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.807 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.809 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.810 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.811 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.812 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.816 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.818 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.819 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.820 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.821 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-07 10:42:48.823 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.